python-dotenv

# Web Framework
fastapi
uvicorn[standard]
pydantic

# LangChain
langchain
langchain-core
langchain-ollama
langgraph
langsmith

# TTS (Cloud Based)
elevenlabs
python-multipart

# Audio Manipulation
pydub