python-dotenv

# Web Framework
fastapi
uvicorn[standard]
pydantic

# LangChain
langchain
langchain-core
langchain-ollama
langgraph
langsmith

# RAG Dependencies
langchain-community
faiss-cpu
pypdf # For PDF files
python-docx # For .docx files

# TTS (Cloud Based)
elevenlabs
python-multipart

# Audio Manipulation
pydub